// Copied from 'digital_out' application, configures the 3 LEDs (TODO - get high drive)
/ {
    aliases {
        led0 = &led0_node;
        led1 = &led1_node;
        led2 = &led2_node;
    };

    leds {
        compatible = "gpio-leds";

        // TODO - switch these to pins that support high drive

        led0_node: led0 {
            gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>; //Green
        };

        led1_node: led1 {
            gpios = <&gpio1 00 GPIO_ACTIVE_HIGH>; //Red
        };

        led2_node: led2 {
            gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>; //Infrared
        };
    };
};